div.contenedorGlobal .contenedorMenusSubsitios
{
    background-color: #202F38;
}
div.contenedorGlobal .contenidoGlobalInterno
{
    border-left: 1px solid #202F38;
    border-right: 1px solid #202F38;
}
div.contenedorGlobal .contenidoGlobalInterno .link
{
    color: #1A4A8B;
    cursor: pointer;
    text-decoration: none;
}
.indicadorEnContenido .headerPanelOpciones
{
   background-color: #1A4A8B; 
}
div.contenedorGlobal .contenedorMenusSubsitios .contenedorMenusSubsitiosInterno .espacioMenuSubsitios
{
    border: 1px solid #555; 
    height: 36px;
    background: transparent url('../recursos/imagenes/menusBgStrong.png') repeat-x; 
}
div.contenedorGlobal .contenedorMenusSubsitios .contenedorMenusSubsitiosInterno .navegacionSecunciales
{
   padding: 4px 10px;
   font-size: 7pt;
   color: #91AED4;
   border-left: 1px solid #555;
   border-right: 1px solid #555;
   background-color: #202F38;
}
div.contenedorGlobal .contenedorMenusSubsitios .contenedorMenusSubsitiosInterno .navegacionSecunciales a
{
   color: #5A87C4;
}
div.contenedorGlobal .contenedorMenusSubsitios .contenedorMenusSubsitiosInterno .navegacionSecunciales a:hover
{
   color: #91aed4;
}
div.contenedorGlobal .contenedorMenusSubsitios .contenedorMenusSubsitiosInterno .navegacionSecunciales span
{
   color: #91aed4;
}