div.contenedorGlobal .contenedorMenusSubsitios, .ventanaProcesosSIEE .encabezadoVentana
{
    background-color: #395362;
}
div.contenedorGlobal .contenidoGlobalInterno
{
    border-left: 1px solid #395362;
    border-right: 1px solid #395362;
}
div.contenedorGlobal .contenidoGlobalInterno .link
{
    color: #395362;
    cursor: pointer;
    text-decoration: none;
}
.contenedorGlobalDeIndicadores
{
    border: 1px solid #395362;
}
.indicadorEnContenido .headerPanelOpciones
{
   background-color: #395362; 
}
.bordeCajaAnio
{
    border-color:  #395362!important;
}
.headerAnioActual
{
    background-color: #395362!important;
    color: #fff!important;
}
div.contenedorGlobal .contenedorMenusSubsitios .contenedorMenusSubsitiosInterno .espacioMenuSubsitios
{
    border: 1px solid #426579; 
    height: 36px;
    background: transparent url('../recursos/imagenes/menusBgStrong.png') repeat-x; 
}
div.contenedorGlobal .contenedorMenusSubsitios .contenedorMenusSubsitiosInterno .navegacionSecunciales
{
   padding: 4px 10px;
   font-size: 7pt;
   color: #91AED4;
   border-left: 1px solid #426579;
   border-right: 1px solid #426579;
   background-color: #25363f;
}
div.contenedorGlobal .contenedorMenusSubsitios .contenedorMenusSubsitiosInterno .navegacionSecunciales a
{
   color: #526e7e;
}
div.contenedorGlobal .contenedorMenusSubsitios .contenedorMenusSubsitiosInterno .navegacionSecunciales a:hover
{
   color: #91aed4;
}
div.contenedorGlobal .contenedorMenusSubsitios .contenedorMenusSubsitiosInterno .navegacionSecunciales span
{
   color: #91aed4;
}